@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-grad {
    @apply bg-gradient-to-r from-[#468189] to-[#075762] text-transparent bg-clip-text;
  }
}

body {
  font-family: Helvetica;
  background: #eeeeee;
  min-height: 100vh;
  height: 100%;
}
